<% provide(:title, 'Edit User') %>
<% provide(:page, 'Preferences')  %>

<section class="preferences">

  <div class="section-header">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="form-wrapper">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, placeholder: 'required', class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, placeholder: 'required', class: 'fullwidth' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.check_box :newsletter %>
        <%= f.label :newsletter, 'Receive newsletter?' %>
      </div>

      <div class="field">
        <%= f.label :current_password %><br/>
        <%= f.password_field :current_password, autocomplete: "off", placeholder: 'required', class: 'fullwidth' %>
      </div>

      <div class="field">
        <%= f.label :password, 'New password' %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "off", class: 'fullwidth' %>
        <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirm new password' %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'fullwidth' %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
        <%= link_to "Back", :back, class: 'button' %>
      </div>
    <% end %>

  </div>

  <div class="cancel">
    <h4>Cancel my account</h4>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>
  </div>

</section>

