<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title, class: 'fullwidth' %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :article_author, class: 'fullwidth' %>
  </div>

  <div class="field date-select">
    <%= form.label :published_date %>
    <%= form.datetime_select :published_date, {:prompt => true}, id: :article_published_date %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :article_published, class: 'fullwidth' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :article_content, class: 'fullwidth tinymce' %>
  </div>

  <div class="field">
    <%= form.label :avatar_thumbnail %>
    <%= form.text_field :avatar_thumbnail, id: :article_avatar_thumbnail, class: 'fullwidth' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>